*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --prim-col:rgb(0 0 0);
    --sec-col:rgb(0 0 0);

}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(36, 60, 96);
}

h1{
    text-align: center;
    color: white;
    font-size: 2.75rem;
}

aside{
    background-color: rgb(0 0 0);
    color: white;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}